title: Meedan Annual Report 2017
email: info@meedan.com
description: >- # this means to ignore newlines until "baseurl:"
  Promoting collaborative verification and fact-checking through a global network of independent media, journalism school and human rights partners.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: meedan
github_username:  meedan

# Build settings
markdown: kramdown

plugins:
  - jekyll-seo-tag


# Server Config options
livereload: true    # You no longer need to include --livereload
reload_port: 5678    # If you don't want to use the default port

# Get data from Contentful Develop Environment
contentful:
  output: true
  spaces:
    - annualReports: 
        space: ENV_CONTENTFUL_M_SPACE_ID
        access_token: ENV_CONTENTFUL_M_ACCESS_TOKEN
        # environment: ENV_CONTENTFUL_ENVIRONMENT
        cda_query:
          content_type: 'annualReport'
        all_entries: true
        destination: 'contentful/spaces/'
    - sections: 
        space: ENV_CONTENTFUL_M_SPACE_ID
        access_token: ENV_CONTENTFUL_M_ACCESS_TOKEN
        # environment: ENV_CONTENTFUL_ENVIRONMENT
        cda_query:
          content_type: 'section'
        all_entries: true
        destination: 'contentful/spaces/'
    - module2ColumnContents: 
        space: ENV_CONTENTFUL_M_SPACE_ID
        access_token: ENV_CONTENTFUL_M_ACCESS_TOKEN
        # environment: ENV_CONTENTFUL_ENVIRONMENT
        cda_query:
          content_type: 'module2ColumnContent'
        all_entries: true
        destination: 'contentful/spaces/'


# Generate pages from Contentful data files
page_gen-dirs: true
page_gen:
  - data: 'contentful.spaces.annualReports.annualReport'
    template: 'annual_report'
    name: 'slug'
    dir: '/'