{% assign date = include.date | default: 'false' %}
{% assign title = include.title %}
{% assign description = include.description %}
{% assign note = include.note %}
{% assign link = include.link | default: '' %}

{% if link != '' %}
<a href="{{ link }}" title="{{ description }}">
{% endif %}
<div class="{% if date != 'false' %}list{% endif %}{% if note %} with-note{% endif %}{% if date == 'false' %}sub-list{% endif %}">
	{% if date != 'false' %}
	<div class="date">{{ date }}</div>
	{% endif %}
	<div class="list-wrapper">
		<div class="title">{{ title }}</div>
		{% if note %}
		  <div class="note">{{ note }}</div>
		{% endif %}
    	<div class="description">{{ description }}</div>

    </div>
</div>
{% if link != '' %}
</a>
{% endif %}
