{% 
	include break.html 
	class="start-introduction" 
%}
<section class="content introduction" id="introduction">
	<div class="graphic-wrapper bordered">
		<h2><span>1.</span> CEO’s Note</h2>
		{%
			include module_graphic.html
			url="//images.ctfassets.net/g118h5yoccvd/6Zwa8hoN1eeqoWaqyQscqk/fbcbb3cfe808c8d9c86696f7bf19f77e/graphic_introduction.png"
			title="introduction"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="2017 was a remarkable year to be working on digital journalism. It was the year that the last remnants of idealism were rung out of the fabric of our global interwebs. Our dreams of the citizen empowering, knowledge extending, society improving internet were being trolled, doxed, and brigaded away."
		%}
		{%
			include module_lead_text.html
			content="We are designers, though."
		%}
		{% 
      include media_image.html 
      image="//images.ctfassets.net/g118h5yoccvd/7mi4sWROggymaWcck6ku04/0d5ae77b3680b38969690c7f1235c011/CheckCon_Beirut.jpg"
      caption_title="Check Con, Beirut - April 2017"
		%}
		<div class="columns">
			<div class="column column-a">
			    <h3>Common Standards</h3>
			</div>
			<div class="column column-b">
			    <p>So, when the dust settled on Electionland (before the awards for that project started to drop from the sky) we recognized that the 1000 journalists that were working into our software, doing annotation work, classifying content were completely disconnected from the machinery. We called for: “common media verification standards and APIs, and they should work to develop a shared visual language to expose the work of media verification and fact-checking professionals. This means developing a new schema for verification.” </p>
			    <p>This found its form in the Credibility Coalition, an initiative we started with Hacks/Hackers that has grown in 2017 to bring Facebook, Google, Twitter, and the W3C behind this effort to develop and test third party signals that can be used to describe link, claim, and image credibility. It is a daunting and ambitious project and amounts to an effort to create a machine readable context layer above the web. </p>
			    <p>Also in 2017 we partnered with Dig Deeper Media to start Pop-Up Newsroom, to seed and launch collaborative reporting initiatives in different contexts and countries around the world. To date, much of our work has been focused on the challenge of limiting the spread and impact of viral misinformation around elections, and creating media projects that serve audiences through provision of credible content, debunks, and media literacy content. Pop-Up Newsroom was deployed in the US at Texas State’s J-School where we ran a training program for young journalists working on the Documenting Hate project.</p>
			    <p>With our brilliant partners at Birmingham City University we created the first CheckCon where friends like Katherine Maher, Lina Attalah, Jillian York and many more inspired a global gathering of media and internet geeks with their ideas on the future of open knowledge and open tools. </p>
			    <p>We have witnessed increasing global demand for access to Check from global civil society and independent media. For example, following Rappler’s implementation of Check in the Philippines, IFCN signatory VERA Files (also in the Philippines) requested access and are now using Check as their primary fact-checking workbench. We ran two projects with Hong Kong University using Check and Bridge to monitor and translate Weibo content. Bellingcat has used Check to open crowdsource geolocation of imagery for Interpol. Syrian Archive and the Berkeley Human Rights Center conducted digital investigations that conclusively showed the provenance of chemical weapons attacks in Syria. CrossCheck and Electionland both ran on Check and picked up OJAs (Online Journalism Awards).  And, following PesaCheck’s use of Check in the Kenyan election in November 2017, the Media Council of Kenya and groups in Zimbabwe (CITE, ZimFact) have partnered with us.</p>
			    {% 
			      include media_image.html 
			      image="//images.ctfassets.net/g118h5yoccvd/29EqTxtg8IaQgUQCaYYwo6/6049b1340804627185e0f796fc9e0835/_Priority__An_at_Rights_Con_2017.jpg"
			      caption_title="Rights Con, Brussels - March 2017"
				%}
				<p>There is no question that this past seven years of our work has been a single long, and, from this vantage point, prescient, arc to the epicenter of the internet freedom and access issues that offer a serious threat to democratic systems around the world. We take this to be very much the challenge of our time, and a challenge that does not just impact political participation, but also public health, education, environment, and virtually every area of online discourse. We did not envision seven years ago that our idea for addressing verification in service of raising citizen voices would have put us in the middle of the effort to improve the very infrastructure of the web, but we are extremely proud that we have navigated our work to this point and are very grateful for the huge contributions to our work in 2017 from our funders, partners, and, most importantly, our users.</p>
				<p>In the next year we expect to work with amazing partners like Yemen Archive, Rappler, Animal Politico, Chicas Poderosas, AfricaCheck, Witness, and Dig Deeper in election settings, digital investigations, and crisis response efforts. Most importantly, we will pursue this ambitious agenda with an organizational commitment to place diversity, kindness, and support for the well-being of our team members and partners at the core of everything we do. </p>
				<p>Until Soon, <br />
				EAB</p>
			</div>
		</div>
		<hr />
		<h2>Program Names</h2>
		<div class="columns">
			<div class="column column-a">
			    <h3>Check Global</h3>
			</div>
			<div class="column column-b">
				<p>CHECK — Meedan's flagship project focused on open source technologies for media, source, link verification and research and trainings that support these practices. Beneficiaries include human rights investigators, independent journalists, and civil society orgs. In 2017 we delivered high impact projects in Lebanon, Philippines, Hong Kong, Kenya, Egypt, France, England, and the US.</p>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Credibility Coalition</h3>
			</div>
			<div class="column column-b">
				<p><a href="//credibilitycoalition.org/">The Credibility Coalition</a> is a diverse, interdisciplinary community committed to improving information ecosystems and media literacy through transparent and collaborative exploration. Rather than jointly deciding whether an article is “credible” or “not credible” or endorsing any single index or evaluation of credibility, the Credibility Coalition fosters the development of a framework around which credibility can be discussed and interpreted.</p>
				<p>Our goal is to provide a range of indicators that can be used by a person — or a system — to gauge if an article can inform or educate that person (or whoever the audience is likely to be).</p>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Pop-Up Newsroom</h3>
			</div>
			<div class="column column-b">
				{% 
			      include media_image.html 
			      image="//images.ctfassets.net/a1gidpdiipum/2YXXwCjoM8wYCeIkEYYYm2/b19307d269be56e88b2dac603f2c0071/PopUpGE2017_2-3.jpg"
			      caption_title="#GE2017 in the UK"
				%}
				<p><a href="//popup.news/">Pop-Up Newsroom</a> was founded in 2017 by Dig Deeper Media and Meedan and is an innovation framework for newsrooms that are changing the way they collaborate, communicate and engage audiences through new tools and training. Our structured approach to innovation — both technological and editorial — is unique.</p>
				<p>The Pop-Up Newsroom team have been involved in leading a number of large, high-profile social monitoring and verification projects since 2016: from Electionland in the US, to CrossCheck in France, #GE2017 in the UK. </p>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>The Translation Project /Bridge </h3>
			</div>
			<div class="column column-b">
				<p>In 2017 we continued development and research on translation solutions for refugees and aid workers in crisis settings.</p>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Geographic areas served</h3>
			</div>
			<div class="column column-b">
				<ul>
					<li>MENA</li>
					<li>SE Asia</li>
					<li>East Africa</li>
					<li>Latin America</li>
					<li>Europe</li>
					<li>North America</li>
				</ul>
			</div>
		</div>
		<hr />
		{% 
      include media_image.html 
      image="//images.ctfassets.net/g118h5yoccvd/67vb69QGicSWkGwEiagMoe/5d34cacac2da95d8f50e673f96bf8a39/Full_Size_Check_Con_2.jpg"
      caption_title="Check Con, Beirut - April 2017"
		%}
		<div class="columns">
			<div class="column column-a">
			    <h3>Timeline</h3>
			</div>
			<div class="column column-b">
				<p>We are humbled by these quotes from our partners about using Meedan’s tools in 2017.</p>
			</div>
		</div>
		<div class="events">
			{%
	              include event.html
	              title="Internet Freedom Festival"
	              description="Valencia, Spain"
	              date="03"
	        %}
	        {%
	              include event.html
	              title="Rights Con"
	              description="Brussels, Belgium"
	        %}
	        {%
	              include event.html
	              title="Check Con"
	              description="Beirut, Lebanon"
	              date="04"
	        %}
	        {%
	              include event.html
	              title="International Journalism Festival"
	              description="Perugia, Italy"
	        %}
	        {%
	              include event.html
	              title="Tom's training at the American University in Cairo"
	              description="Cairo, Egypt"
	              date="05"
	        %}
	        {%
	              include event.html
	              title="Stockholm Internet Forum"
	              description="Stockholm, Sweden"
	        %}
	        {%
	              include event.html
	              title="Pop-Up Newsroom: UK Election"
	              description="London, United Kingdom"
	              date="06"
	        %}
	        {%
	              include event.html
	              title="Data Investigations Camp"
	              note="Hosted by Tactical Tech and ShareLab"
	              description="Montenegro"
	              date="07"
	        %}
	        {%
	              include event.html
	              title="Pop-Up Newsroom: Documenting Hate Training"
	              description="Texas State"
	              date="08"
	        %}
	        {%
	              include event.html
	              title="Online News Association Conference (Awards Ceremony)"
	              note="Electionland and CrossCheck win ONAs - first two major projects run using Check"
	              description="Washington DC"
	              date="10"
	        %}
	        {%
	              include event.html
	              title="JSDay Recife"
	              note="Caio Almeida (Meedan’s Senior Application Engineer) gave a talk about hybrid applications using React.js and React Native, using Check Mark as example"
	              description="Brazil"
	              date="12"
	        %}
    	</div>
	</div>
</section>
{% 
	include break.html 
	class="end-introduction" 
%}
<section class="content in-numbers" id="in-numbers">
	<div class="graphic-wrapper bordered">
		<h2><span>2.</span> In Numbers</h2>
		{%
			include module_graphic.html
			url="//images.ctfassets.net/g118h5yoccvd/TikhWKrVq60OCqqcSga4w/82c7e21d5433cab064e35534f51b6d29/graphic_in-numbers.png"
			title="in numbers"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="Here are some important numbers that show how our year went:"
		%}
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Check</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Check combines smart checklists, workflow integrations, and intuitive design to make digital newsgathering an efficient and collaborative process. Invite your team and online community in a secure environment to work together to validate breaking news content. Then, quickly show the work to your audience on social media or your news site.</p>
				</div>
				<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Geographic areas served</h3>
			</div>
			<div class="column column-b">
				<ul>
					<li>MENA</li>
					<li>SE Asia</li>
					<li>East Africa</li>
					<li>Latin America</li>
					<li>Europe</li>
					<li>North America</li>
				</ul>
			</div>
		</div>
				<div class="stats">
					{%
						include module_graphic.html
						url="//images.ctfassets.net/g118h5yoccvd/74zB3elofCcOCe2mkuMOCg/b4d041a2df10a74cc2753f6bb6a8f832/graph_stats_check.png"
						title="Check ease of use graph"
					%}
					<div class="note">73% of our users think it’s easy to use Check and 27% think Check is difficult to use.</div>					
					{%
	              include stat.html
	              label="New users"
	              number="1247"
	        %}
	        {%
	              include stat.html
	              label="Number of media items created"
	              number="3130"
	        %}
	        {%
	              include stat.html
	              label="Average time to verification"
	              number="~ 2.5 hours"
	        %}
	        {%
	              include stat.html
	              label="Annotations created"
	              number="5023"
	        %}
      	</div>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Keep</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Keep works as a backup platform for links added online. If a media item is added to Check with a link, with Keep enabled, a copy of the link is added to Keep so that there is always a backup link in case that the original goes down or gets removed at any point in time.</p>
				</div>
				<div class="stats">
					{%
	              include stat.html
	              label="Items archived"
	              number="128"
	        %}
	        {%
	              include stat.html
	              label="Items archived and deleted"
	              number="22"
	        %}
	        {%
	              include stat.html
	              label="Teams using screenshots"
	              number="9"
	        %}
	        {%
	              include stat.html
	              label="Teams with Video vaults"
	              number="9"
	        %}
	        {%
	              include stat.html
	              label="Number of teams with Archive.is"
	              number="7"
	        %}
	        {%
	              include stat.html
	              label="Number of teams with Archive.org"
	              number="2"
	        %}
      	</div>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Bridge</h3>
			</div>
			<div class="column column-b">
				<div class="intro">
					<p>Bridge helps communities translate, annotate, share, and source the most compelling global content on social media. Starting with a pilot with the National Geographic Society and Pulitzer Prize-winning journalist Paul Salopek’s Out of Eden Walk project, the product aims to support a team of translators with tools like glossaries and translation memories.</p>
				</div>
				<div class="stats">
					{%
						include module_graphic.html
						url="//images.ctfassets.net/g118h5yoccvd/2SlNyULm1qOQQCUIayisoG/879470a6e78d5f11166597edd3dacfff/graph_stats_bridge.png"
						title="Bridge ease of use graph"
					%}
					<div class="note">70% of users think it’s easy to use Bridge and 30% think it is very easy.</div>
					{%
	              include stat.html
	              label="Translations requested"
	              number="252"
	        %}
	        {%
	              include stat.html
	              label="Translations done with Bridge "
	              number="199"
	              note="May include some testing items"
	        %}
	        {%
	              include stat.html
	              label="Number of new users"
	              number="21"
	        %}
      	</div>
			</div>
		</div>
	</div>
</section>
{% 
	include break.html 
	class="end-in-numbers" 
%}
<section class="content reviews" id="reviews">
	<div class="graphic-wrapper bordered">
		<h2><span>3.</span> What are people saying?</h2>
		{%
			include module_graphic.html
			url="//images.ctfassets.net/g118h5yoccvd/3PsNMd4GDKOI4Kg6A242yo/d9210c94649cd353c1b8fcc602640783/graphic_reviews.png"
			title="in numbers"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="We are humbled by these excerpts from articles published mentioning Meedan’s work in 2017."
		%}
		{%
			include module_pull_quote.html
			content="If we had not had Check there as a tool, it would’ve been very difficult to manage that workflow, Having the collaborative aspect of Check as a platform was essential for CrossCheck."
			pullquote_by="Sam Dubberley"
			source="CrossCheck’s Managing Editor on using Check covering the French Elections"
		%}
		{%
			include module_pull_quote.html
			content="The app is really good, it makes it very easy to translate the tweets. I think this effort is very important to help informacion, resources and conversations from this type of events to be available to more people in their languages."
			pullquote_by="Indira Cornelio"
			source="Volunteer translator on using Bridge during  RightsCon 2017"
		%}
		{%
			include module_pull_quote.html
			content="Whether it's geolocating international airstrikes in Syria and Iraq, finding sites of potential war crimes in Libya, or tracing objects to stop child abuse, Check is the platform which the international investigative group Bellingcat has repeatedly used to successfully organise and structure crowdsourcing campaigns."
			pullquote_by="Christiaan Triebert"
			source="Open Source Analyst with Bellingcat Team on Check"
		%}
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Press</h3>
			</div>
			<div class="column column-b">
				<p>Stories covering Meedan's work in 2017.</p>
			</div>
		</div>
		<div class="cards">
			<div class="card-wrapper">
				{% 
		          include card.html 
		          image="//images.ctfassets.net/g118h5yoccvd/6FYqLC8tR6wcwisaSGgISs/c9b6ca743501769ded989b10428c4daf/lab-logo-color-tighter.svg"
		          title="Nieman Lab Coverage of Cross Check- As a presidential election looms in France, Google and Facebook team up with news outlets to factcheck"
		          description="In addition to CrossCheck’s use of the tool in France, Check has been used in recent months by organizations across the globe covering elections in Hong Kong, the United Kingdom, and the United States. It’s also worked with groups such as ProPublica, which is using Check for Documenting Hate, its collaborative effort to track hate crimes in the United States. Amnesty International has also used the platform."
		          logo=true
		          link="http://www.niemanlab.org/2017/07/this-tool-is-helping-newsrooms-collaborate-on-factchecking-and-verification-projects/"
		      	%}
		      	{% 
		          include card.html 
		          image="//images.ctfassets.net/g118h5yoccvd/31fSlLnbXi2KSMSw8uu2c/ecbbdaadf3bb78f1a8d3dd3bad7a1370/journalism-co-uk.gif"
		          title="The Credibility Coalition is working to establish the common elements of trustworthy articles"
		          description="To identify the credibility indicators in news media, Meedan and Hacks/Hackers set up a working group, currently in the process of developing a framework and mark-up a first round of test articles."
		          logo=true
		          link="https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/"
		      	%}
		      	{% 
		          include card.html 
		          image="//images.ctfassets.net/g118h5yoccvd/3D6q1IMd7GqCs86kScCaOs/93c984332616f3ed7d42399c58d0c0c3/st-masthead.png"
		          title="Check platform helps HK varsity students to verify 'fake news', East Asia News & Top Stories - The Straits Times"
		          description="Founded last September by former CNN journalist Anne Kruger, the lab uses a software called Check, which provides a digital platform for students to work together. On the platform, they can list and share the steps they have taken to verify a claim in a news report or social media post."
		          logo=true
		          link="https://www.straitstimes.com/asia/east-asia/check-platform-helps-hk-varsity-students-to-verify-fake-news"
		      	%}
		    </div>
		</div>
	</div>
</section>
{% 
	include break.html 
	class="end-reviews" 
%}
<section class="content financials" id="financials">
	<div class="graphic-wrapper bordered">
		<h2><span>4.</span> Financials</h2>
		{%
			include module_graphic.html
			url="//images.ctfassets.net/g118h5yoccvd/5w2rRNDeuIUwYmgaIWkYyu/9c42ace7a60ac37df5bc169955991783/graphic_financials.png"
			title="Financials"
		%}
	</div>
	<div class="content-wrapper bordered">
		{%
			include module_lead_text.html
			content="We are pleased to share our financial report for 2017."
		%}
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Revenue</h3>
			</div>
			<div class="column column-b">
				<!-- <div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div> -->

				<div class="stats">
					{%
						include module_graphic.html
						url="//images.ctfassets.net/g118h5yoccvd/33jP4skkx2yAmKkO8QcAYy/bbe4d186ea445c9de47e012f2d010d21/graph_revenue.png"
						title="in numbers"
					%}					
					{%
	              include stat.html
	              label="Contributions and Grants"
	              number="793,499"
	        %}
	        {%
	              include stat.html
	              label="Program service revenue"
	              number="435,720"
	        %}

	        {%
	              include stat.html
	              label="Total revenue"
	              number="1,229,326"
	        %}
      	</div>
			</div>
		</div>
		<hr />
		<div class="columns">
			<div class="column column-a">
			    <h3>Expenditures</h3>
			</div>
			<div class="column column-b">
				<!-- <div class="intro">
					<p>Building Blocks is a project in process. We still have unanswered questions, and have decided to share the design files in order to get feedback and learn from other architects, builders, designers, so that together we can develop and improve the project.</p>
				</div> -->
				<div class="stats">
					{%
	              include stat.html
	              label="Total expenditures"
	              number="1,461,661"
	        %}
      	</div>
			</div>
		</div>
	</div>
</section>
{% 
	include break.html 
	class="end-financials" 
%}