.event {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $g2;
	margin-top: $space-small;
	padding-top: $space-small/2;
	padding-bottom: $space-small/2;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.event {
		flex-direction: column;
	}
}

.events .title {
	font-size: $medium-text;
	margin-bottom: $space-small/6;
}
.events .date {
	font-size: $number;
	font-weight: normal;
	line-height: 1;
	color: $g1;
}

.events .description {
	color: $g1;
}


.sub-event {
	display: flex;
	border-top: 1px solid $g2;
	padding-top: $space-small/2;
}

@include responsive('min-width: #{$width-tablet}') {
	.sub-event {
		margin-left: 40%;
	}
}


@include responsive('min-width: #{$width-tablet}') {
	.events .date {
		max-width: 15%;
		flex-basis: 15%;
	}
	.event .event-wrapper {
		max-width: 60%;
		flex-basis: 60%;
	}
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.event .date {
		font-size: $x-large-text;
	}
}

.event.with-note {
	padding-bottom: $space-small/2;
}

.events .note {
	margin-bottom: $space-small/6;
	color: darken($g0, 50%);
}

.events .illustration {
	margin-top: $space-medium;
	margin-bottom: $space-small;
}