// ======================================================================
// Footer

.footer {
	background-color: rgba($g0, 0.6);
	color: $black;
	padding-top: $space-medium;
}

.footer .content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: $space-small;
}

.footer .about {
	width: 70%;
	flex: 1 0 70%;
	span {
		display: block;
		margin-bottom: 4px;
		&:not(:first-child) {
			color: $g1;
		}
	}
}

.footer .social,
.footer .past-years {
	// align-self: stretch;
	width: 15%;
	flex: 1 0 15%;
}

.footer {
	ul {
		list-style: none;
		margin-top: 0;
		padding: 0;
	}
	li {
		margin-bottom: 4px;
	}
	ul:last-child a {
		padding-bottom: $space-small/20;
		border-bottom: 1px solid rgba(#fff, 0.2);
	}
	ul:last-child a:hover {
		border-color: rgba(#fff, 0.5);
	}
	a {
		color: $g1;
	}
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.footer {
		flex-direction: column;
	}
}