<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="page-section">
		<div class="site-wrapper">
			<div class="p-header">
        <div class="p-header-container">
      		<h1>2017 Annual Report</h1>
      		<h2>Promoting collaborative verification and 
fact-checking through a global network of independent media, journalism school and human rights partners.</h2>
      	</div>
      </div>
      {% include render_sections.html %}
      {% include footer.html %}
		</div>
		{% include js.html %}
	</body>
</html>