<!DOCTYPE html>
<html>
{% include head.html %}

<body class="page-section">
    <div class="site-wrapper">
        {% include header.html %}
        <div class="p-header">
            <div class="p-header-container">
                <h1>2017 Annual Report</h1>
                <h2>Meedan designs/develops open source software, leads monitoring projects, produces assessment standards, and conducts trainings in support of global digital journalism, human rights media investigations, and digital media verification.</h2>
            </div>
        </div>
        <section class="precontent">
        	<div class="nav-wrapper">
	        	<div class="nav">
	                <ul>
	                    <li><a href="#introduction">CEO's Note</a></li>
	                    <li><a href="#in-numbers">In Numbers</a></li>
	                    <li><a href="#reviews">What are people saying?</a></li>
	                    <li><a href="#financials">Financials</a></li>
	                </ul>
	            </div>
	        </div>
            <div class="columns about-report">
                <div class="column-a">
                    <p>This Annual Report reflects the state of Meedan.org and its financial health. Meedan.org is a US registered, San Francisco based, 501(c) 3 non-profit organization established in 2006 that works on projects to support global journalism and cross-cultural education.</p>
                </div>
                <div class="column-b">
                    {%
                    include module_graphic.html
                    url="/images/graphic_verticals.png"
                    title="in numbers"
                    %}
                </div>
            </div>
        </section>
        {% include render_sections.html %}
        {% include footer.html %}
    </div>
    {% include js.html %}
</body>

</html>